@use '../abstracts/variables';


footer {
    background-color: variables.$footer;
    height: 10vh;
    margin-top: auto;

    p {
       text-align: center;
       margin: auto;
       padding: 2% 0 2% 0;
    }
}