@use '../abstracts/variables';

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section {
    min-height: 70vh;
    background-color: variables.$lightgrey;
}

h2 {
    padding: 1em 20px 20px 5%;
}

h3 {
    padding: 1em 20px 0.2em 5%;
    
}

h4 {
    @extend h3;
}

p {
    padding: 0 20px 2em 5%;
   
}
