@use '../abstracts/variables';


.project-page {


    #project {
        max-width: 950px;
        margin: auto;
        height: 100%;

        h2 {
            padding: 1em 20px 0.3em 5%;

        }

        p {
            line-height: 1.6em;
            padding: 0 20px 20px 5%;

        }
    }

}