@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

$urbanist: 'Urbansist', sans-serif;
$base-font: $urbanist;

// colors
$beige: #f9f4eb;
$grey: #e0e0e0;
$lightblue: #557db3;

$background: $beige;

body {
    font-family: $base-font;
}
