

// colors
$beige: #f9f4eb;
$gold: #CEA153;
$grey: #e0e0e0;
$lightgrey: #fafafa;
$opacitygrey: rgba($lightgrey, 0.25);
$lightblue: #557db3;
$darkblue: #002143;
$white: white;
$black: black;

$header1: $beige;
$header2: $gold;

$background: $lightgrey;

$footer: $grey;